/*
Emby Server REST API (BETA)

Explore the Emby Server API

API version: 4.9.4.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package embyclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type NotificationsServiceAPI interface {

	/*
		GetNotificationsTypes Gets notification types

		Requires authentication as user

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetNotificationsTypesRequest
	*/
	GetNotificationsTypes(ctx context.Context) ApiGetNotificationsTypesRequest

	// GetNotificationsTypesExecute executes the request
	//  @return []NotificationCategoryInfo
	GetNotificationsTypesExecute(r ApiGetNotificationsTypesRequest) ([]NotificationCategoryInfo, *http.Response, error)

	/*
		PostNotificationsAdmin Sends a notification to all admin users

		Requires authentication as user

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPostNotificationsAdminRequest
	*/
	PostNotificationsAdmin(ctx context.Context) ApiPostNotificationsAdminRequest

	// PostNotificationsAdminExecute executes the request
	PostNotificationsAdminExecute(r ApiPostNotificationsAdminRequest) (*http.Response, error)
}

// NotificationsServiceAPIService NotificationsServiceAPI service
type NotificationsServiceAPIService service

type ApiGetNotificationsTypesRequest struct {
	ctx        context.Context
	ApiService NotificationsServiceAPI
}

func (r ApiGetNotificationsTypesRequest) Execute() ([]NotificationCategoryInfo, *http.Response, error) {
	return r.ApiService.GetNotificationsTypesExecute(r)
}

/*
GetNotificationsTypes Gets notification types

Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetNotificationsTypesRequest
*/
func (a *NotificationsServiceAPIService) GetNotificationsTypes(ctx context.Context) ApiGetNotificationsTypesRequest {
	return ApiGetNotificationsTypesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []NotificationCategoryInfo
func (a *NotificationsServiceAPIService) GetNotificationsTypesExecute(r ApiGetNotificationsTypesRequest) ([]NotificationCategoryInfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []NotificationCategoryInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationsServiceAPIService.GetNotificationsTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Notifications/Types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostNotificationsAdminRequest struct {
	ctx                     context.Context
	ApiService              NotificationsServiceAPI
	name                    *string
	description             *string
	apiAddAdminNotification *ApiAddAdminNotification
	imageUrl                *string
	url                     *string
	level                   *string
}

// The notification&#39;s name
func (r ApiPostNotificationsAdminRequest) Name(name string) ApiPostNotificationsAdminRequest {
	r.name = &name
	return r
}

// The notification&#39;s description
func (r ApiPostNotificationsAdminRequest) Description(description string) ApiPostNotificationsAdminRequest {
	r.description = &description
	return r
}

// AddAdminNotification
func (r ApiPostNotificationsAdminRequest) ApiAddAdminNotification(apiAddAdminNotification ApiAddAdminNotification) ApiPostNotificationsAdminRequest {
	r.apiAddAdminNotification = &apiAddAdminNotification
	return r
}

// The notification&#39;s image url
func (r ApiPostNotificationsAdminRequest) ImageUrl(imageUrl string) ApiPostNotificationsAdminRequest {
	r.imageUrl = &imageUrl
	return r
}

// The notification&#39;s info url
func (r ApiPostNotificationsAdminRequest) Url(url string) ApiPostNotificationsAdminRequest {
	r.url = &url
	return r
}

// The notification level
func (r ApiPostNotificationsAdminRequest) Level(level string) ApiPostNotificationsAdminRequest {
	r.level = &level
	return r
}

func (r ApiPostNotificationsAdminRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostNotificationsAdminExecute(r)
}

/*
PostNotificationsAdmin Sends a notification to all admin users

Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostNotificationsAdminRequest
*/
func (a *NotificationsServiceAPIService) PostNotificationsAdmin(ctx context.Context) ApiPostNotificationsAdminRequest {
	return ApiPostNotificationsAdminRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *NotificationsServiceAPIService) PostNotificationsAdminExecute(r ApiPostNotificationsAdminRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationsServiceAPIService.PostNotificationsAdmin")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Notifications/Admin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return nil, reportError("name is required and must be specified")
	}
	if r.description == nil {
		return nil, reportError("description is required and must be specified")
	}
	if r.apiAddAdminNotification == nil {
		return nil, reportError("apiAddAdminNotification is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "Name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "Description", r.description, "form", "")
	if r.imageUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ImageUrl", r.imageUrl, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Url", r.url, "form", "")
	}
	if r.level != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Level", r.level, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiAddAdminNotification
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
