/*
Emby Server REST API (BETA)

Explore the Emby Server API

API version: 4.9.4.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package embyclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type ChapterApiEndpointAPI interface {

	/*
		GetChapterApiGetChapters Get a list of items for type and filtered

		Requires authentication as user

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetChapterApiGetChaptersRequest
	*/
	GetChapterApiGetChapters(ctx context.Context) ApiGetChapterApiGetChaptersRequest

	// GetChapterApiGetChaptersExecute executes the request
	//  @return map[string]interface{}
	GetChapterApiGetChaptersExecute(r ApiGetChapterApiGetChaptersRequest) (map[string]interface{}, *http.Response, error)

	/*
		GetChapterApiGetItemPath Get a list of items for type and filtered

		Requires authentication as user

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetChapterApiGetItemPathRequest
	*/
	GetChapterApiGetItemPath(ctx context.Context) ApiGetChapterApiGetItemPathRequest

	// GetChapterApiGetItemPathExecute executes the request
	//  @return map[string]interface{}
	GetChapterApiGetItemPathExecute(r ApiGetChapterApiGetItemPathRequest) (map[string]interface{}, *http.Response, error)

	/*
		GetChapterApiGetItems Get a list of items for type and filtered

		Requires authentication as user

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetChapterApiGetItemsRequest
	*/
	GetChapterApiGetItems(ctx context.Context) ApiGetChapterApiGetItemsRequest

	// GetChapterApiGetItemsExecute executes the request
	//  @return map[string]interface{}
	GetChapterApiGetItemsExecute(r ApiGetChapterApiGetItemsRequest) (map[string]interface{}, *http.Response, error)

	/*
		GetChapterApiGetSummary Get a list of items for type and filtered

		Requires authentication as user

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetChapterApiGetSummaryRequest
	*/
	GetChapterApiGetSummary(ctx context.Context) ApiGetChapterApiGetSummaryRequest

	// GetChapterApiGetSummaryExecute executes the request
	//  @return map[string]interface{}
	GetChapterApiGetSummaryExecute(r ApiGetChapterApiGetSummaryRequest) (map[string]interface{}, *http.Response, error)

	/*
		GetChapterApiUpdateChapters Updates chapters

		Requires authentication as user

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetChapterApiUpdateChaptersRequest
	*/
	GetChapterApiUpdateChapters(ctx context.Context) ApiGetChapterApiUpdateChaptersRequest

	// GetChapterApiUpdateChaptersExecute executes the request
	//  @return map[string]interface{}
	GetChapterApiUpdateChaptersExecute(r ApiGetChapterApiUpdateChaptersRequest) (map[string]interface{}, *http.Response, error)
}

// ChapterApiEndpointAPIService ChapterApiEndpointAPI service
type ChapterApiEndpointAPIService service

type ApiGetChapterApiGetChaptersRequest struct {
	ctx        context.Context
	ApiService ChapterApiEndpointAPI
	id         *int32
}

// item id
func (r ApiGetChapterApiGetChaptersRequest) Id(id int32) ApiGetChapterApiGetChaptersRequest {
	r.id = &id
	return r
}

func (r ApiGetChapterApiGetChaptersRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetChapterApiGetChaptersExecute(r)
}

/*
GetChapterApiGetChapters Get a list of items for type and filtered

Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetChapterApiGetChaptersRequest
*/
func (a *ChapterApiEndpointAPIService) GetChapterApiGetChapters(ctx context.Context) ApiGetChapterApiGetChaptersRequest {
	return ApiGetChapterApiGetChaptersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChapterApiEndpointAPIService) GetChapterApiGetChaptersExecute(r ApiGetChapterApiGetChaptersRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChapterApiEndpointAPIService.GetChapterApiGetChapters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/chapter_api/get_chapters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChapterApiGetItemPathRequest struct {
	ctx        context.Context
	ApiService ChapterApiEndpointAPI
	id         *int32
}

// item id
func (r ApiGetChapterApiGetItemPathRequest) Id(id int32) ApiGetChapterApiGetItemPathRequest {
	r.id = &id
	return r
}

func (r ApiGetChapterApiGetItemPathRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetChapterApiGetItemPathExecute(r)
}

/*
GetChapterApiGetItemPath Get a list of items for type and filtered

Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetChapterApiGetItemPathRequest
*/
func (a *ChapterApiEndpointAPIService) GetChapterApiGetItemPath(ctx context.Context) ApiGetChapterApiGetItemPathRequest {
	return ApiGetChapterApiGetItemPathRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChapterApiEndpointAPIService) GetChapterApiGetItemPathExecute(r ApiGetChapterApiGetItemPathRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChapterApiEndpointAPIService.GetChapterApiGetItemPath")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/chapter_api/get_item_path"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChapterApiGetItemsRequest struct {
	ctx        context.Context
	ApiService ChapterApiEndpointAPI
	filter     *string
	itemType   *string
	parent     *int32
}

// filter string
func (r ApiGetChapterApiGetItemsRequest) Filter(filter string) ApiGetChapterApiGetItemsRequest {
	r.filter = &filter
	return r
}

// type of items to return
func (r ApiGetChapterApiGetItemsRequest) ItemType(itemType string) ApiGetChapterApiGetItemsRequest {
	r.itemType = &itemType
	return r
}

// parent id
func (r ApiGetChapterApiGetItemsRequest) Parent(parent int32) ApiGetChapterApiGetItemsRequest {
	r.parent = &parent
	return r
}

func (r ApiGetChapterApiGetItemsRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetChapterApiGetItemsExecute(r)
}

/*
GetChapterApiGetItems Get a list of items for type and filtered

Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetChapterApiGetItemsRequest
*/
func (a *ChapterApiEndpointAPIService) GetChapterApiGetItems(ctx context.Context) ApiGetChapterApiGetItemsRequest {
	return ApiGetChapterApiGetItemsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChapterApiEndpointAPIService) GetChapterApiGetItemsExecute(r ApiGetChapterApiGetItemsRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChapterApiEndpointAPIService.GetChapterApiGetItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/chapter_api/get_items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	if r.itemType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "item_type", r.itemType, "form", "")
	}
	if r.parent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent", r.parent, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChapterApiGetSummaryRequest struct {
	ctx        context.Context
	ApiService ChapterApiEndpointAPI
	type_      *string
}

// summary type
func (r ApiGetChapterApiGetSummaryRequest) Type_(type_ string) ApiGetChapterApiGetSummaryRequest {
	r.type_ = &type_
	return r
}

func (r ApiGetChapterApiGetSummaryRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetChapterApiGetSummaryExecute(r)
}

/*
GetChapterApiGetSummary Get a list of items for type and filtered

Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetChapterApiGetSummaryRequest
*/
func (a *ChapterApiEndpointAPIService) GetChapterApiGetSummary(ctx context.Context) ApiGetChapterApiGetSummaryRequest {
	return ApiGetChapterApiGetSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChapterApiEndpointAPIService) GetChapterApiGetSummaryExecute(r ApiGetChapterApiGetSummaryRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChapterApiEndpointAPIService.GetChapterApiGetSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/chapter_api/get_summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChapterApiUpdateChaptersRequest struct {
	ctx          context.Context
	ApiService   ChapterApiEndpointAPI
	id           *int64
	indexList    *string
	action       *string
	name         *string
	type_        *string
	time         *string
	autoInterval *int32
}

// item id
func (r ApiGetChapterApiUpdateChaptersRequest) Id(id int64) ApiGetChapterApiUpdateChaptersRequest {
	r.id = &id
	return r
}

// list if indexes
func (r ApiGetChapterApiUpdateChaptersRequest) IndexList(indexList string) ApiGetChapterApiUpdateChaptersRequest {
	r.indexList = &indexList
	return r
}

// action to take
func (r ApiGetChapterApiUpdateChaptersRequest) Action(action string) ApiGetChapterApiUpdateChaptersRequest {
	r.action = &action
	return r
}

// chapter name
func (r ApiGetChapterApiUpdateChaptersRequest) Name(name string) ApiGetChapterApiUpdateChaptersRequest {
	r.name = &name
	return r
}

// chapter type
func (r ApiGetChapterApiUpdateChaptersRequest) Type_(type_ string) ApiGetChapterApiUpdateChaptersRequest {
	r.type_ = &type_
	return r
}

// time string of start time hh:mm:ss
func (r ApiGetChapterApiUpdateChaptersRequest) Time(time string) ApiGetChapterApiUpdateChaptersRequest {
	r.time = &time
	return r
}

// auto create interval
func (r ApiGetChapterApiUpdateChaptersRequest) AutoInterval(autoInterval int32) ApiGetChapterApiUpdateChaptersRequest {
	r.autoInterval = &autoInterval
	return r
}

func (r ApiGetChapterApiUpdateChaptersRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetChapterApiUpdateChaptersExecute(r)
}

/*
GetChapterApiUpdateChapters Updates chapters

Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetChapterApiUpdateChaptersRequest
*/
func (a *ChapterApiEndpointAPIService) GetChapterApiUpdateChapters(ctx context.Context) ApiGetChapterApiUpdateChaptersRequest {
	return ApiGetChapterApiUpdateChaptersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChapterApiEndpointAPIService) GetChapterApiUpdateChaptersExecute(r ApiGetChapterApiUpdateChaptersRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChapterApiEndpointAPIService.GetChapterApiUpdateChapters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/chapter_api/update_chapters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.indexList != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "index_list", r.indexList, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.time != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time", r.time, "form", "")
	}
	if r.autoInterval != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "auto_interval", r.autoInterval, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
