/*
Emby Server REST API (BETA)

Explore the Emby Server API

API version: 4.9.4.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package embyclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type MoviesServiceAPI interface {

	/*
		GetMoviesRecommendations Gets movie recommendations

		Requires authentication as user

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetMoviesRecommendationsRequest
	*/
	GetMoviesRecommendations(ctx context.Context) ApiGetMoviesRecommendationsRequest

	// GetMoviesRecommendationsExecute executes the request
	//  @return []RecommendationDto
	GetMoviesRecommendationsExecute(r ApiGetMoviesRecommendationsRequest) ([]RecommendationDto, *http.Response, error)
}

// MoviesServiceAPIService MoviesServiceAPI service
type MoviesServiceAPIService service

type ApiGetMoviesRecommendationsRequest struct {
	ctx              context.Context
	ApiService       MoviesServiceAPI
	categoryLimit    *int32
	itemLimit        *int32
	userId           *string
	parentId         *string
	enableImages     *bool
	enableUserData   *bool
	imageTypeLimit   *int32
	enableImageTypes *string
}

// The max number of categories to return
func (r ApiGetMoviesRecommendationsRequest) CategoryLimit(categoryLimit int32) ApiGetMoviesRecommendationsRequest {
	r.categoryLimit = &categoryLimit
	return r
}

// The max number of items to return per category
func (r ApiGetMoviesRecommendationsRequest) ItemLimit(itemLimit int32) ApiGetMoviesRecommendationsRequest {
	r.itemLimit = &itemLimit
	return r
}

// Optional. Filter by user id, and attach user data
func (r ApiGetMoviesRecommendationsRequest) UserId(userId string) ApiGetMoviesRecommendationsRequest {
	r.userId = &userId
	return r
}

// Specify this to localize the search to a specific item or folder. Omit to use the root
func (r ApiGetMoviesRecommendationsRequest) ParentId(parentId string) ApiGetMoviesRecommendationsRequest {
	r.parentId = &parentId
	return r
}

// Optional, include image information in output
func (r ApiGetMoviesRecommendationsRequest) EnableImages(enableImages bool) ApiGetMoviesRecommendationsRequest {
	r.enableImages = &enableImages
	return r
}

// Optional, include user data
func (r ApiGetMoviesRecommendationsRequest) EnableUserData(enableUserData bool) ApiGetMoviesRecommendationsRequest {
	r.enableUserData = &enableUserData
	return r
}

// Optional, the max number of images to return, per image type
func (r ApiGetMoviesRecommendationsRequest) ImageTypeLimit(imageTypeLimit int32) ApiGetMoviesRecommendationsRequest {
	r.imageTypeLimit = &imageTypeLimit
	return r
}

// Optional. The image types to include in the output.
func (r ApiGetMoviesRecommendationsRequest) EnableImageTypes(enableImageTypes string) ApiGetMoviesRecommendationsRequest {
	r.enableImageTypes = &enableImageTypes
	return r
}

func (r ApiGetMoviesRecommendationsRequest) Execute() ([]RecommendationDto, *http.Response, error) {
	return r.ApiService.GetMoviesRecommendationsExecute(r)
}

/*
GetMoviesRecommendations Gets movie recommendations

Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetMoviesRecommendationsRequest
*/
func (a *MoviesServiceAPIService) GetMoviesRecommendations(ctx context.Context) ApiGetMoviesRecommendationsRequest {
	return ApiGetMoviesRecommendationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []RecommendationDto
func (a *MoviesServiceAPIService) GetMoviesRecommendationsExecute(r ApiGetMoviesRecommendationsRequest) ([]RecommendationDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []RecommendationDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MoviesServiceAPIService.GetMoviesRecommendations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Movies/Recommendations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.categoryLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "CategoryLimit", r.categoryLimit, "form", "")
	}
	if r.itemLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ItemLimit", r.itemLimit, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "UserId", r.userId, "form", "")
	}
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ParentId", r.parentId, "form", "")
	}
	if r.enableImages != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImages", r.enableImages, "form", "")
	}
	if r.enableUserData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableUserData", r.enableUserData, "form", "")
	}
	if r.imageTypeLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ImageTypeLimit", r.imageTypeLimit, "form", "")
	}
	if r.enableImageTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageTypes", r.enableImageTypes, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
