/*
Emby Server REST API (BETA)

Explore the Emby Server API

API version: 4.9.4.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package embyclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

type ContentServiceAPI interface {

	/*
		GetUsersByUseridHomesections Method for GetUsersByUseridHomesections

		Requires authentication as user

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param userId User Id
		@return ApiGetUsersByUseridHomesectionsRequest
	*/
	GetUsersByUseridHomesections(ctx context.Context, userId string) ApiGetUsersByUseridHomesectionsRequest

	// GetUsersByUseridHomesectionsExecute executes the request
	//  @return []ContentSection
	GetUsersByUseridHomesectionsExecute(r ApiGetUsersByUseridHomesectionsRequest) ([]ContentSection, *http.Response, error)

	/*
		GetUsersByUseridSectionsBySectionidItems Method for GetUsersByUseridSectionsBySectionidItems

		Requires authentication as user

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param sectionId
		@param userId User Id
		@return ApiGetUsersByUseridSectionsBySectionidItemsRequest
	*/
	GetUsersByUseridSectionsBySectionidItems(ctx context.Context, sectionId string, userId string) ApiGetUsersByUseridSectionsBySectionidItemsRequest

	// GetUsersByUseridSectionsBySectionidItemsExecute executes the request
	//  @return QueryResultBaseItemDto
	GetUsersByUseridSectionsBySectionidItemsExecute(r ApiGetUsersByUseridSectionsBySectionidItemsRequest) (*QueryResultBaseItemDto, *http.Response, error)
}

// ContentServiceAPIService ContentServiceAPI service
type ContentServiceAPIService service

type ApiGetUsersByUseridHomesectionsRequest struct {
	ctx        context.Context
	ApiService ContentServiceAPI
	userId     string
}

func (r ApiGetUsersByUseridHomesectionsRequest) Execute() ([]ContentSection, *http.Response, error) {
	return r.ApiService.GetUsersByUseridHomesectionsExecute(r)
}

/*
GetUsersByUseridHomesections Method for GetUsersByUseridHomesections

Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userId User Id
	@return ApiGetUsersByUseridHomesectionsRequest
*/
func (a *ContentServiceAPIService) GetUsersByUseridHomesections(ctx context.Context, userId string) ApiGetUsersByUseridHomesectionsRequest {
	return ApiGetUsersByUseridHomesectionsRequest{
		ApiService: a,
		ctx:        ctx,
		userId:     userId,
	}
}

// Execute executes the request
//
//	@return []ContentSection
func (a *ContentServiceAPIService) GetUsersByUseridHomesectionsExecute(r ApiGetUsersByUseridHomesectionsRequest) ([]ContentSection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ContentSection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentServiceAPIService.GetUsersByUseridHomesections")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Users/{UserId}/HomeSections"
	localVarPath = strings.Replace(localVarPath, "{"+"UserId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetUsersByUseridSectionsBySectionidItemsRequest struct {
	ctx                            context.Context
	ApiService                     ContentServiceAPI
	sectionId                      string
	userId                         string
	artistType                     *string
	maxOfficialRating              *string
	hasThemeSong                   *bool
	hasThemeVideo                  *bool
	hasSubtitles                   *bool
	hasSpecialFeature              *bool
	hasTrailer                     *bool
	isSpecialSeason                *bool
	adjacentTo                     *string
	startItemId                    *string
	minIndexNumber                 *int32
	minStartDate                   *time.Time
	maxStartDate                   *time.Time
	minEndDate                     *time.Time
	maxEndDate                     *time.Time
	minPlayers                     *int32
	maxPlayers                     *int32
	parentIndexNumber              *int32
	hasParentalRating              *bool
	isHD                           *bool
	isUnaired                      *bool
	minCommunityRating             *float64
	minCriticRating                *float64
	airedDuringSeason              *int32
	minPremiereDate                *time.Time
	minDateLastSaved               *time.Time
	minDateLastSavedForUser        *time.Time
	maxPremiereDate                *time.Time
	hasOverview                    *bool
	hasImdbId                      *bool
	hasTmdbId                      *bool
	hasTvdbId                      *bool
	excludeItemIds                 *string
	startIndex                     *int32
	limit                          *int32
	recursive                      *bool
	searchTerm                     *string
	sortOrder                      *string
	parentId                       *string
	fields                         *string
	excludeItemTypes               *string
	includeItemTypes               *string
	anyProviderIdEquals            *string
	filters                        *string
	isFavorite                     *bool
	isMovie                        *bool
	isSeries                       *bool
	isFolder                       *bool
	isNews                         *bool
	isKids                         *bool
	isSports                       *bool
	isNew                          *bool
	isPremiere                     *bool
	isNewOrPremiere                *bool
	isRepeat                       *bool
	projectToMedia                 *bool
	mediaTypes                     *string
	imageTypes                     *string
	sortBy                         *string
	isPlayed                       *bool
	genres                         *string
	officialRatings                *string
	tags                           *string
	excludeTags                    *string
	years                          *string
	enableImages                   *bool
	enableUserData                 *bool
	imageTypeLimit                 *int32
	enableImageTypes               *string
	person                         *string
	personIds                      *string
	personTypes                    *string
	studios                        *string
	studioIds                      *string
	artists                        *string
	artistIds                      *string
	albums                         *string
	ids                            *string
	videoTypes                     *string
	containers                     *string
	audioCodecs                    *string
	audioLayouts                   *string
	videoCodecs                    *string
	extendedVideoTypes             *string
	subtitleCodecs                 *string
	path                           *string
	minOfficialRating              *string
	isLocked                       *bool
	isPlaceHolder                  *bool
	hasOfficialRating              *bool
	groupItemsIntoCollections      *bool
	is3D                           *bool
	seriesStatus                   *string
	nameStartsWithOrGreater        *string
	artistStartsWithOrGreater      *string
	albumArtistStartsWithOrGreater *string
	nameStartsWith                 *string
	nameLessThan                   *string
}

// Artist or AlbumArtist
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ArtistType(artistType string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.artistType = &artistType
	return r
}

// Optional filter by maximum official rating (PG, PG-13, TV-MA, etc).
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MaxOfficialRating(maxOfficialRating string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.maxOfficialRating = &maxOfficialRating
	return r
}

// Optional filter by items with theme songs.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasThemeSong(hasThemeSong bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasThemeSong = &hasThemeSong
	return r
}

// Optional filter by items with theme videos.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasThemeVideo(hasThemeVideo bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasThemeVideo = &hasThemeVideo
	return r
}

// Optional filter by items with subtitles.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasSubtitles(hasSubtitles bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasSubtitles = &hasSubtitles
	return r
}

// Optional filter by items with special features.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasSpecialFeature(hasSpecialFeature bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasSpecialFeature = &hasSpecialFeature
	return r
}

// Optional filter by items with trailers.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasTrailer(hasTrailer bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasTrailer = &hasTrailer
	return r
}

// Optional. Filter by special season.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsSpecialSeason(isSpecialSeason bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isSpecialSeason = &isSpecialSeason
	return r
}

// Optional. Return items that are siblings of a supplied item.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) AdjacentTo(adjacentTo string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.adjacentTo = &adjacentTo
	return r
}

// Optional. Skip through the list until a given item is found.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) StartItemId(startItemId string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.startItemId = &startItemId
	return r
}

// Optional filter by minimum index number.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MinIndexNumber(minIndexNumber int32) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.minIndexNumber = &minIndexNumber
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MinStartDate(minStartDate time.Time) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.minStartDate = &minStartDate
	return r
}

// Optional. The maximum premiere date. Format &#x3D; ISO
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MaxStartDate(maxStartDate time.Time) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.maxStartDate = &maxStartDate
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MinEndDate(minEndDate time.Time) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.minEndDate = &minEndDate
	return r
}

// Optional. The maximum premiere date. Format &#x3D; ISO
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MaxEndDate(maxEndDate time.Time) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.maxEndDate = &maxEndDate
	return r
}

// Optional filter by minimum number of game players.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MinPlayers(minPlayers int32) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.minPlayers = &minPlayers
	return r
}

// Optional filter by maximum number of game players.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MaxPlayers(maxPlayers int32) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.maxPlayers = &maxPlayers
	return r
}

// Optional filter by parent index number.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ParentIndexNumber(parentIndexNumber int32) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.parentIndexNumber = &parentIndexNumber
	return r
}

// Optional filter by items that have or do not have a parental rating
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasParentalRating(hasParentalRating bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasParentalRating = &hasParentalRating
	return r
}

// Optional filter by items that are HD or not.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsHD(isHD bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isHD = &isHD
	return r
}

// Optional filter by items that are unaired episodes or not.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsUnaired(isUnaired bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isUnaired = &isUnaired
	return r
}

// Optional filter by minimum community rating.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MinCommunityRating(minCommunityRating float64) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.minCommunityRating = &minCommunityRating
	return r
}

// Optional filter by minimum critic rating.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MinCriticRating(minCriticRating float64) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.minCriticRating = &minCriticRating
	return r
}

// Gets all episodes that aired during a season, including specials.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) AiredDuringSeason(airedDuringSeason int32) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.airedDuringSeason = &airedDuringSeason
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MinPremiereDate(minPremiereDate time.Time) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.minPremiereDate = &minPremiereDate
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MinDateLastSaved(minDateLastSaved time.Time) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.minDateLastSaved = &minDateLastSaved
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MinDateLastSavedForUser(minDateLastSavedForUser time.Time) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.minDateLastSavedForUser = &minDateLastSavedForUser
	return r
}

// Optional. The maximum premiere date. Format &#x3D; ISO
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MaxPremiereDate(maxPremiereDate time.Time) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.maxPremiereDate = &maxPremiereDate
	return r
}

// Optional filter by items that have an overview or not.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasOverview(hasOverview bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasOverview = &hasOverview
	return r
}

// Optional filter by items that have an imdb id or not.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasImdbId(hasImdbId bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasImdbId = &hasImdbId
	return r
}

// Optional filter by items that have a tmdb id or not.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasTmdbId(hasTmdbId bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasTmdbId = &hasTmdbId
	return r
}

// Optional filter by items that have a tvdb id or not.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasTvdbId(hasTvdbId bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasTvdbId = &hasTvdbId
	return r
}

// Optional. If specified, results will be filtered by exxcluding item ids. This allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ExcludeItemIds(excludeItemIds string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.excludeItemIds = &excludeItemIds
	return r
}

// Optional. The record index to start at. All items with a lower index will be dropped from the results.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) StartIndex(startIndex int32) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.startIndex = &startIndex
	return r
}

// Optional. The maximum number of records to return
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Limit(limit int32) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.limit = &limit
	return r
}

// When searching within folders, this determines whether or not the search will be recursive. true/false
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Recursive(recursive bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.recursive = &recursive
	return r
}

// Enter a search term to perform a search request
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) SearchTerm(searchTerm string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.searchTerm = &searchTerm
	return r
}

// Sort Order - Ascending,Descending
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) SortOrder(sortOrder string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.sortOrder = &sortOrder
	return r
}

// Specify this to localize the search to a specific item or folder. Omit to use the root
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ParentId(parentId string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.parentId = &parentId
	return r
}

// Optional. Specify additional fields of information to return in the output. This allows multiple, comma delimeted. Options: Budget, Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams, Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio, Revenue, SortName, Studios, Taglines
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Fields(fields string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.fields = &fields
	return r
}

// Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ExcludeItemTypes(excludeItemTypes string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.excludeItemTypes = &excludeItemTypes
	return r
}

// Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IncludeItemTypes(includeItemTypes string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.includeItemTypes = &includeItemTypes
	return r
}

// Optional. If specified, result will be filtered to contain only items which match at least one of the specified IDs. Each provider ID must be in the form &#39;prov.id&#39;, e.g. &#39;imdb.tt123456&#39;. This allows multiple, comma delimeted value pairs.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) AnyProviderIdEquals(anyProviderIdEquals string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.anyProviderIdEquals = &anyProviderIdEquals
	return r
}

// Optional. Specify additional filters to apply. This allows multiple, comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed, IsFavorite, IsResumable, Likes, Dislikes
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Filters(filters string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.filters = &filters
	return r
}

// Optional filter by items that are marked as favorite, or not.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsFavorite(isFavorite bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isFavorite = &isFavorite
	return r
}

// Optional filter for movies.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsMovie(isMovie bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isMovie = &isMovie
	return r
}

// Optional filter for series.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsSeries(isSeries bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isSeries = &isSeries
	return r
}

// Optional filter for folders.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsFolder(isFolder bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isFolder = &isFolder
	return r
}

// Optional filter for news.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsNews(isNews bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isNews = &isNews
	return r
}

// Optional filter for kids.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsKids(isKids bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isKids = &isKids
	return r
}

// Optional filter for sports.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsSports(isSports bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isSports = &isSports
	return r
}

// Optional filter for IsNew.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsNew(isNew bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isNew = &isNew
	return r
}

// Optional filter for IsPremiere.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsPremiere(isPremiere bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isPremiere = &isPremiere
	return r
}

// Optional filter for IsNewOrPremiere.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsNewOrPremiere(isNewOrPremiere bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isNewOrPremiere = &isNewOrPremiere
	return r
}

// Optional filter for IsRepeat.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsRepeat(isRepeat bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isRepeat = &isRepeat
	return r
}

// ProjectToMedia
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ProjectToMedia(projectToMedia bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.projectToMedia = &projectToMedia
	return r
}

// Optional filter by MediaType. Allows multiple, comma delimited.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MediaTypes(mediaTypes string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.mediaTypes = &mediaTypes
	return r
}

// Optional. If specified, results will be filtered based on those containing image types. This allows multiple, comma delimited.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ImageTypes(imageTypes string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.imageTypes = &imageTypes
	return r
}

// Optional. Specify one or more sort orders, comma delimeted. Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating, DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName, Random, Revenue, Runtime
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) SortBy(sortBy string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.sortBy = &sortBy
	return r
}

// Optional filter by items that are played, or not.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsPlayed(isPlayed bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isPlayed = &isPlayed
	return r
}

// Optional. If specified, results will be filtered based on genre. This allows multiple, pipe delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Genres(genres string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.genres = &genres
	return r
}

// Optional. If specified, results will be filtered based on OfficialRating. This allows multiple, pipe delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) OfficialRatings(officialRatings string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.officialRatings = &officialRatings
	return r
}

// Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Tags(tags string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.tags = &tags
	return r
}

// Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ExcludeTags(excludeTags string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.excludeTags = &excludeTags
	return r
}

// Optional. If specified, results will be filtered based on production year. This allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Years(years string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.years = &years
	return r
}

// Optional, include image information in output
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) EnableImages(enableImages bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.enableImages = &enableImages
	return r
}

// Optional, include user data
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) EnableUserData(enableUserData bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.enableUserData = &enableUserData
	return r
}

// Optional, the max number of images to return, per image type
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ImageTypeLimit(imageTypeLimit int32) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.imageTypeLimit = &imageTypeLimit
	return r
}

// Optional. The image types to include in the output.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) EnableImageTypes(enableImageTypes string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.enableImageTypes = &enableImageTypes
	return r
}

// Optional. If specified, results will be filtered to include only those containing the specified person.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Person(person string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.person = &person
	return r
}

// Optional. If specified, results will be filtered to include only those containing the specified person.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) PersonIds(personIds string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.personIds = &personIds
	return r
}

// Optional. If specified, along with Person, results will be filtered to include only those containing the specified person and PersonType. Allows multiple, comma-delimited
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) PersonTypes(personTypes string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.personTypes = &personTypes
	return r
}

// Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Studios(studios string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.studios = &studios
	return r
}

// Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) StudioIds(studioIds string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.studioIds = &studioIds
	return r
}

// Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Artists(artists string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.artists = &artists
	return r
}

// Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ArtistIds(artistIds string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.artistIds = &artistIds
	return r
}

// Optional. If specified, results will be filtered based on album. This allows multiple, pipe delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Albums(albums string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.albums = &albums
	return r
}

// Optional. If specific items are needed, specify a list of item id&#39;s to retrieve. This allows multiple, comma delimited.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Ids(ids string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.ids = &ids
	return r
}

// Optional filter by VideoType (videofile, dvd, bluray, iso). Allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) VideoTypes(videoTypes string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.videoTypes = &videoTypes
	return r
}

// Optional filter by Container. Allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Containers(containers string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.containers = &containers
	return r
}

// Optional filter by AudioCodec. Allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) AudioCodecs(audioCodecs string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.audioCodecs = &audioCodecs
	return r
}

// Optional filter by AudioLayout. Allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) AudioLayouts(audioLayouts string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.audioLayouts = &audioLayouts
	return r
}

// Optional filter by VideoCodec. Allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) VideoCodecs(videoCodecs string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.videoCodecs = &videoCodecs
	return r
}

// Optional filter by ExtendedVideoType. Allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ExtendedVideoTypes(extendedVideoTypes string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.extendedVideoTypes = &extendedVideoTypes
	return r
}

// Optional filter by SubtitleCodec. Allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) SubtitleCodecs(subtitleCodecs string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.subtitleCodecs = &subtitleCodecs
	return r
}

// Optional filter by Path.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Path(path string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.path = &path
	return r
}

// Optional filter by minimum official rating (PG, PG-13, TV-MA, etc).
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) MinOfficialRating(minOfficialRating string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.minOfficialRating = &minOfficialRating
	return r
}

// Optional filter by items that are locked.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsLocked(isLocked bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isLocked = &isLocked
	return r
}

// Optional filter by items that are placeholders
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) IsPlaceHolder(isPlaceHolder bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.isPlaceHolder = &isPlaceHolder
	return r
}

// Optional filter by items that have official ratings
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) HasOfficialRating(hasOfficialRating bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.hasOfficialRating = &hasOfficialRating
	return r
}

// Whether or not to hide items behind their boxsets.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) GroupItemsIntoCollections(groupItemsIntoCollections bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.groupItemsIntoCollections = &groupItemsIntoCollections
	return r
}

// Optional filter by items that are 3D, or not.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Is3D(is3D bool) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.is3D = &is3D
	return r
}

// Optional filter by Series Status. Allows multiple, comma delimeted.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) SeriesStatus(seriesStatus string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.seriesStatus = &seriesStatus
	return r
}

// Optional filter by items whose name is sorted equally or greater than a given input string.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) NameStartsWithOrGreater(nameStartsWithOrGreater string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.nameStartsWithOrGreater = &nameStartsWithOrGreater
	return r
}

// Optional filter by items whose name is sorted equally or greater than a given input string.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) ArtistStartsWithOrGreater(artistStartsWithOrGreater string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.artistStartsWithOrGreater = &artistStartsWithOrGreater
	return r
}

// Optional filter by items whose name is sorted equally or greater than a given input string.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) AlbumArtistStartsWithOrGreater(albumArtistStartsWithOrGreater string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.albumArtistStartsWithOrGreater = &albumArtistStartsWithOrGreater
	return r
}

// Optional filter by items whose name is sorted equally than a given input string.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) NameStartsWith(nameStartsWith string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.nameStartsWith = &nameStartsWith
	return r
}

// Optional filter by items whose name is equally or lesser than a given input string.
func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) NameLessThan(nameLessThan string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	r.nameLessThan = &nameLessThan
	return r
}

func (r ApiGetUsersByUseridSectionsBySectionidItemsRequest) Execute() (*QueryResultBaseItemDto, *http.Response, error) {
	return r.ApiService.GetUsersByUseridSectionsBySectionidItemsExecute(r)
}

/*
GetUsersByUseridSectionsBySectionidItems Method for GetUsersByUseridSectionsBySectionidItems

Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sectionId
	@param userId User Id
	@return ApiGetUsersByUseridSectionsBySectionidItemsRequest
*/
func (a *ContentServiceAPIService) GetUsersByUseridSectionsBySectionidItems(ctx context.Context, sectionId string, userId string) ApiGetUsersByUseridSectionsBySectionidItemsRequest {
	return ApiGetUsersByUseridSectionsBySectionidItemsRequest{
		ApiService: a,
		ctx:        ctx,
		sectionId:  sectionId,
		userId:     userId,
	}
}

// Execute executes the request
//
//	@return QueryResultBaseItemDto
func (a *ContentServiceAPIService) GetUsersByUseridSectionsBySectionidItemsExecute(r ApiGetUsersByUseridSectionsBySectionidItemsRequest) (*QueryResultBaseItemDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *QueryResultBaseItemDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentServiceAPIService.GetUsersByUseridSectionsBySectionidItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Users/{UserId}/Sections/{SectionId}/Items"
	localVarPath = strings.Replace(localVarPath, "{"+"SectionId"+"}", url.PathEscape(parameterValueToString(r.sectionId, "sectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"UserId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.artistType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ArtistType", r.artistType, "form", "")
	}
	if r.maxOfficialRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxOfficialRating", r.maxOfficialRating, "form", "")
	}
	if r.hasThemeSong != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasThemeSong", r.hasThemeSong, "form", "")
	}
	if r.hasThemeVideo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasThemeVideo", r.hasThemeVideo, "form", "")
	}
	if r.hasSubtitles != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasSubtitles", r.hasSubtitles, "form", "")
	}
	if r.hasSpecialFeature != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasSpecialFeature", r.hasSpecialFeature, "form", "")
	}
	if r.hasTrailer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasTrailer", r.hasTrailer, "form", "")
	}
	if r.isSpecialSeason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsSpecialSeason", r.isSpecialSeason, "form", "")
	}
	if r.adjacentTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AdjacentTo", r.adjacentTo, "form", "")
	}
	if r.startItemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "StartItemId", r.startItemId, "form", "")
	}
	if r.minIndexNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinIndexNumber", r.minIndexNumber, "form", "")
	}
	if r.minStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinStartDate", r.minStartDate, "form", "")
	}
	if r.maxStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxStartDate", r.maxStartDate, "form", "")
	}
	if r.minEndDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinEndDate", r.minEndDate, "form", "")
	}
	if r.maxEndDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxEndDate", r.maxEndDate, "form", "")
	}
	if r.minPlayers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinPlayers", r.minPlayers, "form", "")
	}
	if r.maxPlayers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxPlayers", r.maxPlayers, "form", "")
	}
	if r.parentIndexNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ParentIndexNumber", r.parentIndexNumber, "form", "")
	}
	if r.hasParentalRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasParentalRating", r.hasParentalRating, "form", "")
	}
	if r.isHD != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsHD", r.isHD, "form", "")
	}
	if r.isUnaired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsUnaired", r.isUnaired, "form", "")
	}
	if r.minCommunityRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinCommunityRating", r.minCommunityRating, "form", "")
	}
	if r.minCriticRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinCriticRating", r.minCriticRating, "form", "")
	}
	if r.airedDuringSeason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AiredDuringSeason", r.airedDuringSeason, "form", "")
	}
	if r.minPremiereDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinPremiereDate", r.minPremiereDate, "form", "")
	}
	if r.minDateLastSaved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinDateLastSaved", r.minDateLastSaved, "form", "")
	}
	if r.minDateLastSavedForUser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinDateLastSavedForUser", r.minDateLastSavedForUser, "form", "")
	}
	if r.maxPremiereDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxPremiereDate", r.maxPremiereDate, "form", "")
	}
	if r.hasOverview != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasOverview", r.hasOverview, "form", "")
	}
	if r.hasImdbId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasImdbId", r.hasImdbId, "form", "")
	}
	if r.hasTmdbId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasTmdbId", r.hasTmdbId, "form", "")
	}
	if r.hasTvdbId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasTvdbId", r.hasTvdbId, "form", "")
	}
	if r.excludeItemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ExcludeItemIds", r.excludeItemIds, "form", "")
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "StartIndex", r.startIndex, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Limit", r.limit, "form", "")
	}
	if r.recursive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Recursive", r.recursive, "form", "")
	}
	if r.searchTerm != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SearchTerm", r.searchTerm, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SortOrder", r.sortOrder, "form", "")
	}
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ParentId", r.parentId, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Fields", r.fields, "form", "")
	}
	if r.excludeItemTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ExcludeItemTypes", r.excludeItemTypes, "form", "")
	}
	if r.includeItemTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IncludeItemTypes", r.includeItemTypes, "form", "")
	}
	if r.anyProviderIdEquals != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AnyProviderIdEquals", r.anyProviderIdEquals, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Filters", r.filters, "form", "")
	}
	if r.isFavorite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsFavorite", r.isFavorite, "form", "")
	}
	if r.isMovie != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsMovie", r.isMovie, "form", "")
	}
	if r.isSeries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsSeries", r.isSeries, "form", "")
	}
	if r.isFolder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsFolder", r.isFolder, "form", "")
	}
	if r.isNews != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsNews", r.isNews, "form", "")
	}
	if r.isKids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsKids", r.isKids, "form", "")
	}
	if r.isSports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsSports", r.isSports, "form", "")
	}
	if r.isNew != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsNew", r.isNew, "form", "")
	}
	if r.isPremiere != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsPremiere", r.isPremiere, "form", "")
	}
	if r.isNewOrPremiere != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsNewOrPremiere", r.isNewOrPremiere, "form", "")
	}
	if r.isRepeat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsRepeat", r.isRepeat, "form", "")
	}
	if r.projectToMedia != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ProjectToMedia", r.projectToMedia, "form", "")
	}
	if r.mediaTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MediaTypes", r.mediaTypes, "form", "")
	}
	if r.imageTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ImageTypes", r.imageTypes, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SortBy", r.sortBy, "form", "")
	}
	if r.isPlayed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsPlayed", r.isPlayed, "form", "")
	}
	if r.genres != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Genres", r.genres, "form", "")
	}
	if r.officialRatings != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "OfficialRatings", r.officialRatings, "form", "")
	}
	if r.tags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Tags", r.tags, "form", "")
	}
	if r.excludeTags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ExcludeTags", r.excludeTags, "form", "")
	}
	if r.years != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Years", r.years, "form", "")
	}
	if r.enableImages != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImages", r.enableImages, "form", "")
	}
	if r.enableUserData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableUserData", r.enableUserData, "form", "")
	}
	if r.imageTypeLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ImageTypeLimit", r.imageTypeLimit, "form", "")
	}
	if r.enableImageTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageTypes", r.enableImageTypes, "form", "")
	}
	if r.person != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Person", r.person, "form", "")
	}
	if r.personIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "PersonIds", r.personIds, "form", "")
	}
	if r.personTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "PersonTypes", r.personTypes, "form", "")
	}
	if r.studios != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Studios", r.studios, "form", "")
	}
	if r.studioIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "StudioIds", r.studioIds, "form", "")
	}
	if r.artists != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Artists", r.artists, "form", "")
	}
	if r.artistIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ArtistIds", r.artistIds, "form", "")
	}
	if r.albums != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Albums", r.albums, "form", "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Ids", r.ids, "form", "")
	}
	if r.videoTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "VideoTypes", r.videoTypes, "form", "")
	}
	if r.containers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Containers", r.containers, "form", "")
	}
	if r.audioCodecs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AudioCodecs", r.audioCodecs, "form", "")
	}
	if r.audioLayouts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AudioLayouts", r.audioLayouts, "form", "")
	}
	if r.videoCodecs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "VideoCodecs", r.videoCodecs, "form", "")
	}
	if r.extendedVideoTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ExtendedVideoTypes", r.extendedVideoTypes, "form", "")
	}
	if r.subtitleCodecs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SubtitleCodecs", r.subtitleCodecs, "form", "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Path", r.path, "form", "")
	}
	if r.minOfficialRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinOfficialRating", r.minOfficialRating, "form", "")
	}
	if r.isLocked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsLocked", r.isLocked, "form", "")
	}
	if r.isPlaceHolder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsPlaceHolder", r.isPlaceHolder, "form", "")
	}
	if r.hasOfficialRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasOfficialRating", r.hasOfficialRating, "form", "")
	}
	if r.groupItemsIntoCollections != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "GroupItemsIntoCollections", r.groupItemsIntoCollections, "form", "")
	}
	if r.is3D != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Is3D", r.is3D, "form", "")
	}
	if r.seriesStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SeriesStatus", r.seriesStatus, "form", "")
	}
	if r.nameStartsWithOrGreater != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "NameStartsWithOrGreater", r.nameStartsWithOrGreater, "form", "")
	}
	if r.artistStartsWithOrGreater != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ArtistStartsWithOrGreater", r.artistStartsWithOrGreater, "form", "")
	}
	if r.albumArtistStartsWithOrGreater != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AlbumArtistStartsWithOrGreater", r.albumArtistStartsWithOrGreater, "form", "")
	}
	if r.nameStartsWith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "NameStartsWith", r.nameStartsWith, "form", "")
	}
	if r.nameLessThan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "NameLessThan", r.nameLessThan, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
