/*
Emby Server REST API (BETA)

Explore the Emby Server API

API version: 4.9.4.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package embyclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type CollectionServiceAPI interface {

	/*
	DeleteCollectionsByIdItems Removes items from a collection

	Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiDeleteCollectionsByIdItemsRequest
	*/
	DeleteCollectionsByIdItems(ctx context.Context, id string) ApiDeleteCollectionsByIdItemsRequest

	// DeleteCollectionsByIdItemsExecute executes the request
	DeleteCollectionsByIdItemsExecute(r ApiDeleteCollectionsByIdItemsRequest) (*http.Response, error)

	/*
	PostCollections Creates a new collection

	Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostCollectionsRequest
	*/
	PostCollections(ctx context.Context) ApiPostCollectionsRequest

	// PostCollectionsExecute executes the request
	//  @return CollectionsCollectionCreationResult
	PostCollectionsExecute(r ApiPostCollectionsRequest) (*CollectionsCollectionCreationResult, *http.Response, error)

	/*
	PostCollectionsByIdItems Adds items to a collection

	Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiPostCollectionsByIdItemsRequest
	*/
	PostCollectionsByIdItems(ctx context.Context, id string) ApiPostCollectionsByIdItemsRequest

	// PostCollectionsByIdItemsExecute executes the request
	PostCollectionsByIdItemsExecute(r ApiPostCollectionsByIdItemsRequest) (*http.Response, error)

	/*
	PostCollectionsByIdItemsDelete Removes items from a collection

	Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiPostCollectionsByIdItemsDeleteRequest
	*/
	PostCollectionsByIdItemsDelete(ctx context.Context, id string) ApiPostCollectionsByIdItemsDeleteRequest

	// PostCollectionsByIdItemsDeleteExecute executes the request
	PostCollectionsByIdItemsDeleteExecute(r ApiPostCollectionsByIdItemsDeleteRequest) (*http.Response, error)
}

// CollectionServiceAPIService CollectionServiceAPI service
type CollectionServiceAPIService service

type ApiDeleteCollectionsByIdItemsRequest struct {
	ctx context.Context
	ApiService CollectionServiceAPI
	ids *string
	id string
}

// Item id, comma delimited
func (r ApiDeleteCollectionsByIdItemsRequest) Ids(ids string) ApiDeleteCollectionsByIdItemsRequest {
	r.ids = &ids
	return r
}

func (r ApiDeleteCollectionsByIdItemsRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteCollectionsByIdItemsExecute(r)
}

/*
DeleteCollectionsByIdItems Removes items from a collection

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiDeleteCollectionsByIdItemsRequest
*/
func (a *CollectionServiceAPIService) DeleteCollectionsByIdItems(ctx context.Context, id string) ApiDeleteCollectionsByIdItemsRequest {
	return ApiDeleteCollectionsByIdItemsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *CollectionServiceAPIService) DeleteCollectionsByIdItemsExecute(r ApiDeleteCollectionsByIdItemsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CollectionServiceAPIService.DeleteCollectionsByIdItems")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Collections/{Id}/Items"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ids == nil {
		return nil, reportError("ids is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "Ids", r.ids, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPostCollectionsRequest struct {
	ctx context.Context
	ApiService CollectionServiceAPI
	isLocked *bool
	name *string
	parentId *string
	ids *string
}

// Whether or not to lock the new collection.
func (r ApiPostCollectionsRequest) IsLocked(isLocked bool) ApiPostCollectionsRequest {
	r.isLocked = &isLocked
	return r
}

// The name of the new collection.
func (r ApiPostCollectionsRequest) Name(name string) ApiPostCollectionsRequest {
	r.name = &name
	return r
}

// Optional - create the collection within a specific folder
func (r ApiPostCollectionsRequest) ParentId(parentId string) ApiPostCollectionsRequest {
	r.parentId = &parentId
	return r
}

// Item Ids to add to the collection
func (r ApiPostCollectionsRequest) Ids(ids string) ApiPostCollectionsRequest {
	r.ids = &ids
	return r
}

func (r ApiPostCollectionsRequest) Execute() (*CollectionsCollectionCreationResult, *http.Response, error) {
	return r.ApiService.PostCollectionsExecute(r)
}

/*
PostCollections Creates a new collection

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostCollectionsRequest
*/
func (a *CollectionServiceAPIService) PostCollections(ctx context.Context) ApiPostCollectionsRequest {
	return ApiPostCollectionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionsCollectionCreationResult
func (a *CollectionServiceAPIService) PostCollectionsExecute(r ApiPostCollectionsRequest) (*CollectionsCollectionCreationResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CollectionsCollectionCreationResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CollectionServiceAPIService.PostCollections")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Collections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.isLocked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsLocked", r.isLocked, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Name", r.name, "form", "")
	}
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ParentId", r.parentId, "form", "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Ids", r.ids, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostCollectionsByIdItemsRequest struct {
	ctx context.Context
	ApiService CollectionServiceAPI
	ids *string
	id string
}

// Item id, comma delimited
func (r ApiPostCollectionsByIdItemsRequest) Ids(ids string) ApiPostCollectionsByIdItemsRequest {
	r.ids = &ids
	return r
}

func (r ApiPostCollectionsByIdItemsRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostCollectionsByIdItemsExecute(r)
}

/*
PostCollectionsByIdItems Adds items to a collection

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPostCollectionsByIdItemsRequest
*/
func (a *CollectionServiceAPIService) PostCollectionsByIdItems(ctx context.Context, id string) ApiPostCollectionsByIdItemsRequest {
	return ApiPostCollectionsByIdItemsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *CollectionServiceAPIService) PostCollectionsByIdItemsExecute(r ApiPostCollectionsByIdItemsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CollectionServiceAPIService.PostCollectionsByIdItems")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Collections/{Id}/Items"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ids == nil {
		return nil, reportError("ids is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "Ids", r.ids, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPostCollectionsByIdItemsDeleteRequest struct {
	ctx context.Context
	ApiService CollectionServiceAPI
	ids *string
	id string
}

// Item id, comma delimited
func (r ApiPostCollectionsByIdItemsDeleteRequest) Ids(ids string) ApiPostCollectionsByIdItemsDeleteRequest {
	r.ids = &ids
	return r
}

func (r ApiPostCollectionsByIdItemsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostCollectionsByIdItemsDeleteExecute(r)
}

/*
PostCollectionsByIdItemsDelete Removes items from a collection

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPostCollectionsByIdItemsDeleteRequest
*/
func (a *CollectionServiceAPIService) PostCollectionsByIdItemsDelete(ctx context.Context, id string) ApiPostCollectionsByIdItemsDeleteRequest {
	return ApiPostCollectionsByIdItemsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *CollectionServiceAPIService) PostCollectionsByIdItemsDeleteExecute(r ApiPostCollectionsByIdItemsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CollectionServiceAPIService.PostCollectionsByIdItemsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Collections/{Id}/Items/Delete"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ids == nil {
		return nil, reportError("ids is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "Ids", r.ids, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
